<header id="banner">
	<h1>Tredule</h1>
</header>
<div id="patient-signup">
	<%= link_to "Patient", new_patient_path %>
</div>
<div id="doctor-signup">
	<%= link_to "Doctor", new_doctor_path %>
</div>
<%= form_tag sessions_path, class: "login-form" do %>
	<div class="field">
		<%= label_tag :email %>
		<%= text_field_tag :email %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= text_field_tag :password %>
	</div>
	<p><%= link_to "Forgot Password?", new_password_reset_path %></p>
	<div class="actions"><%= submit_tag "Log-In!"%></div>
<% end %>